<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402921553872-hd41v3mcg1kl16c46tnefds7b0hj4n1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402921553872-hd41v3mcg1kl16c46tnefds7b0hj4n1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCa66ROUGmR4J9x8c_QoQuTrbwIojpiVHY</string>
	<key>GCM_SENDER_ID</key>
	<string>402921553872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.emiliano.IOSFirebase</string>
	<key>PROJECT_ID</key>
	<string>puntodeventa-7b142</string>
	<key>STORAGE_BUCKET</key>
	<string>puntodeventa-7b142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402921553872:ios:81469a85fe427f4fa903d5</string>
</dict>
</plist>